<h1>Grocery Item Show Page</h1>

<p> Item Title: <%= @item.title %></p>
<p> Amount: <%= @item.amount %></p>
<p> Description: <%= @item.description %></p>

<%= link_to "Back to Grocery List", items_path, :class => "btn btn-success"%>