// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	margin: auto;
	padding: 0px 300px 0px 40px;	
}

li {
	list-style: none;
	padding: 3px 0px;
}

.index {
	float: right;
	margin: 0px 3px;
}

.add {
	float: right;
	margin: 6px 3px;
}


